<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="7765Peekyou.PrayerTimesapp" Publisher="CN=E6878189-F644-4FCC-BC8C-82AEB1E1DEF8" Version="1.1.0.3" />
  <Properties>
    <DisplayName>World PrayerTimes</DisplayName>
    <PublisherDisplayName>Peekyou</PublisherDisplayName>
    <Logo>Images\logo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="PrayerTimes.Controls.App">
      <VisualElements DisplayName="World Prayer Times" Logo="Images\tileSmall.png" SmallLogo="Images\smallLogo.png" Description="Prayer times in the world" ForegroundText="light" BackgroundColor="#629B1A">
        <DefaultTile ShowName="allLogos" WideLogo="Images\tileLarge.png" ShortName="World Prayer Times" />
        <SplashScreen Image="Images\splashScreen.png" BackgroundColor="#629B1A" />
      </VisualElements>
      <Extensions>
        <Extension Category="windows.search" />
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <DeviceCapability Name="location" />
  </Capabilities>
</Package>